 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color:#01325ad3;
     font-family: sans-serif;
} 

.wrapper {
    display: flex;
    width: 1100px;
    height: 630px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: 40%;
    background-color: rgb(249, 151, 77);
}

.left-section .text-section {
    font-size:25px;
    color: #313c4e;
    padding: 35px;
}

.right-section{
    padding:2.5rem 8.125rem;
    width: 43rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
}

.right-section .logo-section i{
    color: rgb(238, 133, 52) ;
}


.right-section .logo-section h1{
    color:#313c4e;
}

.right-section .logo-section .welcome-section h1{
    color:#313c4e ;
    font-size: 23px;
 
}

.form-section{
    margin-top: 20px;
}

/* .profile-section{
   
} */




