 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color:#01325ad3;
     font-family: sans-serif;
} 

.wrapper {
    display: flex;
    width: 1100px;
    height: 630px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: 40%;
    background-color:#f6a192;
    background-image: url("https://betts-connect-dev.pt-staging.com/assets/images/auth-profile-bg.png");
    background-position: bottom left;
    background-repeat:no-repeat;
}

.left-section .text-section {
    font-size:25px;
    color: #313c4e;
    padding: 35px;
}

.right-section{
    padding:2.5rem 8.125rem;
    width: 43rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.right-section .logo-section i{
    color: rgb(238, 133, 52) ;
}


.right-section .logo-section h1{
    color:#313c4e;
}

.right-section .logo-section .welcome-section h1{
    color:#313c4e ;
    font-size: 30px;
 
}

.form-section{
    margin-top: 30px;
}

.form-section input{
    width: 100%;
    height: 45px;
    padding: 16px 10px 16px;
}

.form-section .form-input{
    margin-top: 30px;
    padding: 16px 10px 16px;
}

.form-section .forgot-password a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.forgot-password{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.form-section input:hover{
    border: 2px solid black;
}

.form-section .login-btn{
   margin-top: 15px;
}

.form-section .login-btn button{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color:rgba(246, 246, 246, 0.877);
    cursor: pointer;
    border: 1px solid white;
}

.sign-up-section{
    margin-top: 10px;
}

.form-section .sign-up-section a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.form-section hr{
    margin-top: 40px;
    width: 100%;
    border: 1px solid rgba(226, 226, 226, 0.878);
}

.footer-section .footer-text-section{
    text-align: center;
    margin-top: 30px;
}

.footer-section .footer-logo-section{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  
}

.homepage-section{
    text-align: center;
    margin-top: 20px;
}

.homepage-section a{
    text-decoration: none;
    color: rgb(181, 181, 181);
}

.homepage-section a:hover{
    color: black;
}

.profile-text{
   display:flex ;
  justify-self: end;
  margin-top: 100px;
  margin-right: 15px;
}

@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px;
    }

    .logo-section h1{
        text-align: center;
    }

    .left-section {
        display: none;
    }

    .right-section {
        width: 100%;
        padding: 2rem;
    }

    .right-section .logo-section,
    .right-section .form-section,
    .footer-section {
        width: 100%;
    }

    .right-section .logo-section .welcome-section h1 {
        font-size: 24px;
        text-align: center;
    }

    .profile-text {
        display: none;
    }
}

@media (max-width: 765px) {
    .right-section {
        padding: 1.5rem 1rem;
    }

    .logo-section h1{
        text-align: center;
    }

    .form-section input,
    .form-section .login-btn button {
        height: 50px;
        font-size: 16px;
    }

    .form-section .sign-up-section,
    .form-section .forgot-password {
        text-align: center;
        justify-content: center;
    }

    .footer-section .footer-logo-section img {
        width: 30px;
        height: 30px;
    }

    .right-section .logo-section h1,
    .right-section .logo-section .welcome-section h1 {
        font-size: 22px;
    }
}


   


